{{!< default}}
<div class="container">
	<!-- preloader -->
  <div class="preloader">
    <div class="loader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- /preloader -->
	<!--Hero section-->
	<section class="hero-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 align-self-end">
					<h1 class="mb-100 title-border-lg">About me</h1>
					<p class="mb-80 mr-5">Hey, I am Ullas, I have 4 years experience in the STEM education field. On this platform I will be putting up articles and links related to Science, Technology, Engineering and Mathematics. Reach out to me through the contact form or using my contact info at the bottom of the page regarding workshops or seminars on STEM education.</p>
					<h2 class="mb-100">Better Engineers</h3>
					<p class="mb-80 mr-5">
						With Better Engineers I want to provide a platform where students will understand the real time applications of what they learn in Mathematics and Engineering on a day to day basis. This platform will also provide students an understanding of how they can apply these learning to solve real life problems.
					</p>
					<span class="font-secondary text-dark mr-3 mr-sm-5">Follow</span>
					<ul class="list-inline d-inline-block mb-5">
						<li class="list-inline-item mx-3"><a href="#" class="text-dark"><i class="ti-facebook"></i></a></li>
						<li class="list-inline-item mx-3"><a href="#" class="text-dark"><i class="ti-twitter-alt"></i></a></li>
						<li class="list-inline-item mx-3"><a href="#" class="text-dark"><i class="ti-linkedin"></i></a></li>
						<li class="list-inline-item mx-3"><a href="#" class="text-dark"><i class="ti-instagram"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-lg-6 text-right hero-img">
					<img class="img-fluid" src="images/banner-img.jpg" alt="banner-image">
				</div>
			</div>
		</div>
	</section>
	<!--/Hero section-->
</div>
