{{!< default}}
<div class="container">
	<!-- preloader -->
  <div class="preloader">
    <div class="loader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- /preloader -->
	<!--Hero section-->
	<section class="hero-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 align-self-end">
					<h1 class="mb-0">Welcome</h1>
					<h2 class="mb-100 title-border-lg">to <i>Blog</i></h2>
					<p class="mb-80 mr-5">I’m a Freelance web-dev in India.</p>
					<span class="font-secondary text-dark mr-3 mr-sm-5">Follow</span>
					<ul class="list-inline d-inline-block mb-5">
						<li class="list-inline-item mx-3"><a href="#" class="text-dark"><i class="ti-facebook"></i></a>
						</li>
						<li class="list-inline-item mx-3"><a href="#" class="text-dark"><i
									class="ti-twitter-alt"></i></a></li>
						<li class="list-inline-item mx-3"><a href="#" class="text-dark"><i class="ti-linkedin"></i></a>
						</li>
						<li class="list-inline-item mx-3"><a href="#" class="text-dark"><i class="ti-github"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-lg-6 text-right">
					<img class="img-fluid" src="images/banner-img.png" alt="banner-image">
				</div>
			</div>
		</div>
	</section>
	<!--/Hero section-->
</div>
